.text-align{
    text-align: center;
}

.clsred{
    color: red;
}

.clsblue{
    color: blue;
}

.clsgreen{
    color: green;
}

.clsyellow{
    color: yellow;
}

.clsgray{
    color: gray;
}

.clspink{
    color: pink;
}




